<!DOCTYPE html>
<html>
  <head>
    <title>New Year Trivia Challenge</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "/layouts/mmheader" %>
    <%= yield %>
    <br/><br/>
    <%= render '/layouts/mmfooter' %>
  </body>
</html>
